<a href="https://colab.research.google.com/github/Cindywambui/week4-IP/blob/master/Data_analysis_on_the_electric_car_sharing_service_company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Importing the pandas library
#
import pandas as pd

In [0]:
#Importing the numpy library
#
import numpy as np

In [3]:
# Making the dataframe from the csv file
#
df = pd.read_csv('/content/Autolib_dataset (2).csv')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [4]:
#Finding the number  of missing values in each column
#
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [5]:
#Finding duplicated values in the datset
#
df.duplicated().sum()

0

In [6]:
#Changing the values in the kind column to lowercase
#
df['Kind'] = df['Kind'].str.lower()
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [7]:
#Identifying the most popular hour of the day for picking up a shared electric car(Bluecar) in the city of paris
# over the month of april 2018
#
df1 = df.loc[(df['year'] == '2018')& (df['City'] == 'Paris')& (df['month'] == '4')]
diff_values = df1['Bluecar counter'].diff(periods = 1)
df1['diff_values'] = diff_values
df1.groupby(['diff_values']).min().head(1)

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Displayed comment, ID, Kind, Geo point, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

In [11]:
#What is the most popular hour for returning cars
#
df2 = df['Cars'].diff(periods = 1)
df['df2'] = df2
df.groupby('df2').max().head(1)

                   Address  Cars  Bluecar counter  ...  day  hour  minute
df2                                                ...
-7.0  44 Avenue de Suffren     0                0  ...    8    19      56

[1 rows x 23 columns]

In [16]:
# What station is the most popular
# Overall
#
df.groupby(['ID'])['Station type'].count().sort_values(ascending = False).head(1)

ID
paris-portedemontrouge-8    13
Name: Station type, dtype: int64

In [19]:
# What station is the most popular
# At the most popular picking hour
#
diff_values = df['Cars'].diff(periods = 1)
df['diff_values'] = diff_values
df.groupby(['diff_values']).min().head(1)

                                 Address  Cars  ...  minute  df2
diff_values                                     ...
-7.0         1 rue du PrÃ© Saint Gervais     0  ...       2 -7.0

[1 rows x 24 columns]

In [20]:
# What postal code is the most popular for picking up bluecars? Does the most popular station belong to that code?
# Overall
#
diff_values = df['Bluecar counter'].diff(periods = 1)
df['diff_values'] = diff_values
df.groupby(['diff_values']).min().head(1)
# The most popular station does not belong to that code

                                 Address  Cars  ...  minute  df2
diff_values                                     ...
-7.0         1 rue du PrÃ© Saint Gervais     0  ...       2 -7.0

[1 rows x 24 columns]

In [21]:
# What postal code is the most popular for picking up bluecars? Does the most popular station belong to that code?
# At the most popular picking hour
#
diff_values = df['Bluecar counter'].diff(periods = 1)
df['diff_values'] = diff_values
df.groupby(['diff_values']).min().head(1)
# The most popular postalcode does not belong to the most popular station

                                 Address  Cars  ...  minute  df2
diff_values                                     ...
-7.0         1 rue du PrÃ© Saint Gervais     0  ...       2 -7.0

[1 rows x 24 columns]

In [24]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Bluecars? 
#
diff_values = df['Utilib counter'].diff(periods = 1)
df['diff_values'] = diff_values
df.groupby(['diff_values']).min().head(1)
# The postal code is 75004 and the station is bagneux-verdun-127
#

diff_values = df['Utilib 1.4 counter'].diff(periods = 1)
df['diff_values'] = diff_values
df.groupby(['diff_values']).min().head(1)
#The postal code is 75002 and the Station is paris-paix-24
#

                           Address  Cars  Bluecar counter  ...  hour  minute  df2
diff_values                                                ...
-2.0         1 rue Jules LefÃ¨bvre     0                0  ...     4       6 -5.0

[1 rows x 24 columns]